import React from "react";
import type { {{pascalCase name}}Props } from "./types";

const {{pascalCase name}} = ({ data }: {{pascalCase name}}Props) => {
  return (
    <div>
      <h3>{{titleCase name}}</h3>
      <pre>{JSON.stringify(data, null, 2)}</pre>
    </div>
  );
};

export default {{pascalCase name}};
